* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', Calibri, Arial, sans-serif;
}
h1 {
	margin-left: 1%;
	margin-top: 1%;
	margin-bottom: 1.5%;
}
.side-by-side {
	margin-left: 1%;
}
.side-by-side section {
	width: 22rem;
	float: left;
}
.add-contact {
	font-weight: 600;
}
.add-contact h2 {
	margin: 0.05% 0;
	font-size: 1.5rem;
}
.add-contact div {
	margin: 2% 0;
}
.add-contact input[type="text"] {
	margin: 0.5% 0;
	width: 22rem;
	font-size: 1.1rem;
}
#sub {
	width: 7rem;
	margin-top: 2%;
	margin-bottom: 3%;
	cursor: pointer;
	padding: 0.5rem 0.6rem;
	text-align: center;
	text-decoration: none;
	font: 0.75rem Arial, Helvetica, sans-serif;
	border-radius: 2px;
}
#sub {
	background-color: #216288;
	color: #FFFFFF;
    border: 1px solid #17445E;
}
#add-address, #add-phone-number,
.del-phone-number, .del-address {
	background-color: #a3a3a3;
    color: #000000;
    border: 1px solid #858585;
    cursor: pointer;
}
#add-phone-number, #add-address,
.del-phone-number, .del-address {
	width: 7rem;
	margin-left: 2%;
	margin-bottom: 1%;  
    padding: 0.6rem 0.6rem;
    text-align: center;
    text-decoration: none;
    font: 0.7rem Arial, Helvetica, sans-serif;
    border-radius: 2px;
}
.del-phone-number {
	width: 9rem;
}
.del-address {
	width: 7rem;
}
#add-address:hover, #add-phone-number:hover,
.del-phone-number:hover, .del-address:hover {
    background: linear-gradient(to bottom, #adadad 5%, #c0c0c0 100%);
    background-color: #8f8f8f;
}
#sub:hover {
    background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
    background-color: #28739E;
}
.list-contact {
	margin-left: 1%;
	clear: both;
}
.list-contact h2 {
	margin-left: 0.05%;
	font-size: 1.5rem;
	margin-bottom: 1.5%;
}
.list-contact ul {
	margin-left: 4.5%;
}
.list-contact a {
	text-decoration: none;
	color: #216288;
}
.show-contact {
	font-weight: 600;
	margin-left: 3%;
}
.show-contact > ul {
	list-style-type: none;
}
.show-contact > ul > li{
	margin: 1% 0;
}
.show-contact > ul > ul {
	list-style-type: disc;
}
.show-contact > ul > ul > li {
	margin: 2% 0 2% 10%;
}
